/* 
Pour le titre Profil 
*/
h1
{
    text-align: left;
    text-decoration: solid;
    color: orange;


}

h2
{
    text-align: left;
    text-decoration: solid;
    color: orange;
}

h3
{
    text-align: left;
    text-decoration: solid;
    color: orange;

}
h4
{
    text-align: left;
    text-decoration: solid;
    color: orange;
}